.date-picker{width: 100%;  -webkit-user-select: none;}
.date-picker[disabled] {pointer-events: none; }
.date-picker .picker-tool{display: -webkit-flex;background-color: #14507f;height: 32px;line-height: 32px;}
.date-picker .picker-tool .tool-group{width: 100%;text-align: center;}
.picker-tool .tool-group select{width: 64px;display: inline-block;height: 22px;padding:0px;border: none;box-shadow: none;outline: none;}
.picker-title{display: -webkit-flex;-webkit-justify-content: space-around;line-height: 40px;font-weight: 600;margin-bottom: 0px;}
.picker-main{border:1px solid #fff;border-top:0px;margin-bottom: 10px;}
.picker-body{display: -webkit-flex;-webkit-flex-wrap:wrap;-webkit-justify-content:space-around;text-align: center;}
.picker-body>li{width: 14%;min-height: 22px;line-height: 22px;}
.picker-body>li.valid:hover{cursor: pointer;background-color: #e2e2e2;color: #000;}

.picker-body>li.checked{background-color: #e2e2e2;}
.picker-body>li.on{background-color: #14507f;color: #fff;}

.picker-btn{color: #ddd;width: 40px;text-align: center;}
.picker-btn:hover{color: #fff;}
.number-picker{text-align: center;}

.divide-line{border-bottom: 1px solid #ddd;font-size: 14px;line-height: 22px;}
.flex{display: -webkit-flex;}
.flex .block{width:100%;}
.flex .block{margin-right: 20px;margin-bottom: 10px;}
.flex .block:last-child{margin-right: 0px;}


/*numberInput*/
.numberInput{position: relative;line-height: 22px;height: 22px;background-color: #fff;padding: 0px 4px;overflow: hidden;-webkit-user-select:none;width: 60px;display: inline-block;}
.numberInput input{line-height: 100%;border: none;width: 80%;}
.numberInput input:active,.numberInput input:focus{outline: none;}
.numberInput .arrow{position: absolute;right: 0px;padding:0px 4px;}
.numberInput .arrow:hover{background-color: #aaa;}
.numberInput .arrowUp{top: 0px;padding-bottom: 2px;}
.numberInput .arrowDown{bottom: 0px;padding-top: 2px;}
.numberInput .arrowUp:before{content:"";display: block;border-top:4px solid transparent;border-right:4px solid transparent;border-left:4px solid transparent;border-bottom:4px solid #000;}
.numberInput .arrowDown:before{content:"";display: block;border-top:4px solid #000;border-right:4px solid transparent;border-left:4px solid transparent;border-bottom:4px solid transparent;}