<form action="javascript:" enctype="multipart/form-data" method="POST">
	<input name="iso" type="file" style="display:none">
	<button type="button" ng-disabled="isUploading" class="btn btn-primary"><i class="icon icon-jj-Upload"></i>{{btnName}}</button>
</form>
<div class="upload-progress" ng-show="isUploading">
	<span class="upload-cancel-icon icon  icon-jj-close-2" id="abortBtn"></span>
	<div class="upload-mess">{{progressName}}{{progressSize}}<span class="progress-percent">{{progressPercent}}</span></div>
	<div class="progress progress-xs"><div class="progress-bar bg-color-blue" role="progressbar" ng-style="{'width':progressPercent}"></div></div>
</div>