<div class="frame resetPassword">
	<div class="bar top-bar">
		<a class="btn-arrow-back" href="#/login"><i class="icon icon-arm-left"></i></a>
		<div class="bar-item bar-item-all bar-item-blue bar-item-offset" localize='修改密码'></div>
	</div>
	<div class="go-panel flex flex-row">
		<div class="personalForm">
			<form class="form-horizontal resetPasswordForm" name="resetPasswordForm">
				<div class="form-group">
					<label for="user" class="col-sm-4 control-label" localize='用户名'></label>
					<div class="col-sm-8">
						<input  data-control-autofocus type="text" class="form-control" id="user" placeholder="" ng-model="user" maxlength="20" ng-change="err_mess = ''" required>
					</div>
				</div>
				<div class="form-group">
					<label for="oldPass" class="col-sm-4 control-label" localize='旧密码' ></label>
					<div class="col-sm-8">
						<input type="password" class="form-control" id="oldPass" placeholder="" maxlength="20" ng-model="old_pwd" ng-change="err_mess = ''" required>
					</div>
				</div>
				<div class="form-group">
					<label for="newPass" class="col-sm-4 control-label" localize='新密码'></label>
					<div class="col-sm-8">
						<input type="password" class="form-control" id="newPass" placeholder="" maxlength="20" ng-model="new_pwd" ng-change="err_mess = ''" required>
					</div>
				</div>
				<div class="form-group">
					<label for="confirmPass" class="col-sm-4 control-label" localize='确认密码'></label>
					<div class="col-sm-8">
						<input type="password" class="form-control" id="confirmPass" placeholder="" ng-model="repeat_pwd" maxlength="20" ng-change="err_mess = ''" required>
					</div>
				</div>
				<p class="promt">{{err_mess}}</p>
			</form>
		</div>	
		<a class="btn-arrow-go" ng-class="{lock :$root.lock_desk}"  ng-click="alterPassword()"><i class="icon icon-arm-rihgt"></i></a>
	</div>
</div>
